/* BREAKPOINTS (media querries) */

* {
    box-sizing: border-box;
}

@media (max-width: 992px) {
    .header {
        /* top+buttom, right+left*/
        padding: 1.1rem 5%;
    }



    .homeContent {
        margin-top: 5.5rem;
        max-width: 47vw;
    }



    .homeContent h1 {
        font-size: 40px;

    }

    .homeContent h3 {
        font-size: 25px;
        color: #06c4efe3;
        /* add outline */
        -webkit-text-stroke: .4px white;
    }

    .homeContent p {
        font-size: 20px;
        margin-top: 10px;
        line-height: 25px;
    }

    .homeSM {
        margin: 20px 0 40px;
    }

    .btn {
        margin-right: 3%;
    }
}


@media (max-width: 768px) {
    .header {
        /* top+buttom, right+left*/
        padding: .6rem 5%;
    }

    .icons {
        /*display block then change to flex*/
        display: inline-flex;
    }

    #check:checked~.icons #menuIcon {
        display: none;
    }

    .icons #closeIcon {
        display: none;
    }

    #check:checked~.icons #closeIcon {
        display: block;
    }

    .navBar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        /* color and opasity */
        background: rgb(0, 0, 0, 0.3);
        /*set special effect*/
        backdrop-filter: blur(10px);
        /* shadow x y blur color */
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
        transition: 0.3s ease;
        /*set content to fit in the parent element, 
        anything outisde won't appear*/
        overflow: hidden;
    }

    #check:checked~.navBar {
        height: 16rem;
    }

    .navBar a {
        display: block;
        font-size: 1.1rem;
        margin: 1rem 0;
        text-align: center;
        opacity: 0;
        /*reposition axis Y*/
        transform: translateY(-50px);
        /*transition always in initial state*/
        transition: 0.3s ease;
    }

    #check:checked~.navBar a {
        transform: translateY(0);
        transition-delay: calc(0.05s * var(--i));
        opacity: 1;
    }

    #home {
        height: auto;
        min-height: 100dvh;
        /* background: linear-gradient(90deg, #031321ea 70%, #186e81e7 30% ); */
        background: #031321f6;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        padding: 0 10%;
    }

    .homeImage {
        margin: 35px 0;
        height: 30vh;
        width: 30vh;
    }

    .homeContent {
        margin-top: 5.5rem;
        text-align: center;
        max-width: 100dvw;
    }

}